.differences-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: var(--color-primary-orange-10);
    padding: 60px 0px;
}

.container-cards-differences{
    display: flex;
    justify-content: center;
    gap: 70px;
}

.