*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root{
  --color-primary-orange:#EA7727;
  --color-primary-orange-10:rgba(234, 120, 39, 0.10);
  --color-secondary-white:#FFFFFF;
  --color-secondary-gray:#5C6574;
  --color-secondary-dark:#101821;
  --color-secondary-l-gray:#5C6574;
  --color-alert-green:#004E05;
  --color-alert-red:#770000;

  --font-headline-h1-size: 60px;
  --font-headline-h2-size: 40px;
  --font-headline-h3-size: 28px;
  --font-headline-h4-size: 22px;
  --font-button-size:20px;
  --font-body-size:16px;
  
  --font-title: "David Libre", serif;
  --font-body:"Inter",sans-serif;  
}

.highlighted-word{
    color: var(--color-primary-orange);
}

.btn-primary, .btn-secondary{
  background-color: var(--color-primary-orange);
  padding: 12px 30px;
  border-radius: 15px 3px;
  color: var(--color-secondary-white);
  text-decoration: none;
  font-family: var(--font-title);
  font-size: var(--font-body-size);
}

.btn-secondary{ 
  background-color: var(--color-secondary-dark)  
}
